/*ASK IF THIS IS CORRECT WAY TO IMPORT FONTS IN BANDSITE*/
@font-face {
    font-family: "avenir-regular";
    src: url("../../assets/Font/AvenirNextLTPro-Regular.otf");
}

@font-face {
    font-family: "avenir-demi";
    src: url("../../assets/Font/AvenirNextLTPro-Demi.otf")
}

@font-face {
    font-family: "avenir-bold";
    src: url("../../assets/Font/AvenirNextLTPro-Bold.otf")
}

/*Removes margin, padding, and applies border-box to wbesite*/
* { 
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

body {
    font-family: avenir-regular;
}