@font-face {
    font-family: "avenir-regular";
    src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), /*Forces to apply font family*/
         url("../../assets/fonts/Alternative files/AvenirNextLTPro.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "avenir-demi";
    src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"),   /*Forces to apply font family*/
         url("../../assets/fonts/Alternative files/AvenirNextLTProDemi.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "avenir-bold";
    src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"),   /*Forces to apply font family*/
         url("../../assets/fonts/Alternative files/AvenirNextLTProBold.ttf") format("truetype");
    font-weight: 700;
}

/*Removes margin, padding, and applies border-box to wbesite*/
* { 
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

body {
    font-family: avenir-regular;
}