@use './variables' as *;

@mixin background-image ($image) {
    background-image: $image;
    background-position: center;
    background-size: cover;
    width: 100%;
}

@mixin section-container ($color) {
    width: 100%;
    color: $color;
}