/*Primary Colors*/
$BandSite-Black: #323232;
$Silver: #AFAFAF;
$White: #FFFFFF;

/*Secundary Colors*/
$BandSite-DarkBlack: #000000;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;

/*Responsive Design Breakpoints*/
$tablet: 768px;
$desktop: 1280px;

/*Responsive Design Padding*/
$default-padding: 1em;

/*Background Image*/
$hero-bio: url("../../assets/images/hero-bio.jpg");