/*Primary Colors*/
$BandSite-Black: #323232;
$Silver: #AFAFAF;
$White: #FFFFFF;

/*Secundary Colors*/
$BandSite-DarkBlack: #000000;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;

/*Responsive Design Breakpoints*/
$tablet: 768px;
$desktop: 1280px;

/*Responsive Layout Grid*/
$mobile-padding: 1em;
$mobile-margin: 1em;
$tablet-padding: 2.25em;
$tablet-margin: 2.25em;
$tablet-gutters: 1.5em; 
$tablet-layout-grid: 33.33%;    /*applied to match Mock document tablet grid layout to keep design consistent until 1280px breakpoint*/

/*Background Image*/
$hero-bio: url("../../assets/images/hero-bio.jpg");