/*Primary Colors*/
$BandSite-Black: #323232;
$Silver: #AFAFAF;
$White: #FFFFFF;

/*Secundary Colors*/
$BandSite-DarkBlack: #000000;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;

/*Responsive Design Breakpoints*/
$tablet: 768px;
$desktop: 1280px;

/*Responsive Layout Grid*/
$mobile-padding: 1rem;
$mobile-margin: 1rem;
$tablet-padding: 2.25rem;
$tablet-margin: 2.25rem;
$tablet-gutters: 1.5em; 
$tablet-layout-grid: calc(33.33% - 16px);    /*applied to match Mock document tablet grid layout to keep design consistent until 1280px breakpoint*/
$tablet-footer-line-height: 1.25rem;    /*applied to match Style document*/

/*Background Image*/
$hero-bio: url("../../assets/images/hero-bio.jpg");
$hero-show: url("../../assets/images/hero-shows.jpg");