@use './partials/global' as *;
@use './partials/fonts' as *;
@use './partials/mixins' as *;
@use './partials/media-query' as *;
@use './partials/variables' as *;

.page-header {  
    background-color: $BandSite-Black;
    width: 100%;
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
        padding: 1.5em 2.25em 0 2.25em;
    }

        &__logo-link {
            align-self: center;
            margin-top: 1.25em; /*customized margin to match Mock document*/

               @include tablet { 
                    margin: 0em 4em 1em 0;                    
               }
            } 

        &__nav {
            display: flex;
            font-size: 0.875rem; 
            margin-top: 0.75em;  /*customized padding to match Mock document*/

            @include tablet {
                margin-top: 0.8em; /*customized padding top to match Mock document*/
            }

            &--box {
                display: inline-block;
                text-align: center;
                width: 50%;
              
                    &--current {
                        @include current-site;

                        @include tablet {
                            width: 35%; /*Used to setup the width of the white underline of current page*/
                            padding-bottom: 1.7143em; /*cutomized bottom padding to match mock document*/    
                        }
                    }
            }   

            &__link {
                color: $Mercury;
                padding-bottom: 0.75em; /*defines padding between link and bottom header container for white underline when link is hover*/
                font-size: 0.875rem;   /*cusomized size to match Mock document*/

                @include tablet {
                    font-size: 0.9375rem;   /*cusomized size to match Mock document*/
                    margin: 0em 3.75em;
                    padding-bottom: 1.6em; /*defines padding between link and bottom header container for white underline when link is hover*/
                }

                    &:hover { 
                        border-bottom: 0.2rem solid $White; 
                        color: $White;
                        display: block; /*converted to block to enable bottom border line be full size when hovering*/

                            @include tablet {
                                width: 38%; /*used to size the lenght of the underline when "Show" is hovered*/
                            }
                    }

                    &--current { /*Curent active link*/
                        font-size: 0.875rem;    /*cusomized size to match Mock document*/
                        color: $White; 
                        font-family: avenir-bold;

                            @include tablet {
                                font-size: 0.9375rem;   /*cusomized size to match Mock document*/
                            }
                    }
            }
        }
}

.hero {
    @include background-image ($hero-bio);
    position: relative;
    height: 12rem; /*Customized height to match Mock doc*/
    display: flex;

    @include tablet {
        height: 25rem;
    }

        &__image--overlay {
            background-color: rgba($BandSite-Black, 0.5);
            height: 100%;
            width: 100%;
        }   

        &__title {
            align-self: center; /*Aligns title in the middle of the background image*/
            color: $White;
            margin-left: 0.66665em; /*Equals to 16px leftpadding to match style document requirements*/
            position: absolute; /*Makes title be over the image overlay*/

            @include tablet {
                margin-left: 0.6em;    /*adds margin of 36px to match Mock document layout*/
            }
        }
}

.about-musicians {
    padding: 1em;
    background-color: $White;

    @include tablet {
        padding: 2.25em;
    }

    &__title {
        color: $BandSite-Black;
   }

   &__container--tablet-desktop {    /*cutomized padding to match Mock document for tablet and desktop view*/
        @include tablet {
            padding: 0 3.75em;
        }
    }

    &__image {
        width: 100%;
        padding-bottom: 1em;

        @include tablet {
            padding-bottom: 2.25em;
        }
    }

    &__subheader--one {
        color: $BandSite-Black;
        padding-bottom: 0em;
    }

    &__subheader--two {
        @extend h3; /*applies subheader in order to match Mock document and Style guide for mobile layout diplay*/
        line-height: 2rem;  /*Customized line height to match mock document*/
        color: $BandSite-Black;

        @include tablet {
            font-size: 1rem;    /*selected font size to match Mock document*/
            padding: 0.75em 0 2.25em 0;   /*customized padding to match Mock document*/
        }
    }

    &__subheader-title {
        color: black; /*Color black used given that Mock document uses black color for this particular subheader*/

            @include tablet {
                padding-bottom: 1em;
            }
    }

    &__text-container--tablet-desktop {
        @include tablet {
            display: flex;
        }
    }

    &__text {
        color: $BandSite-Black;
        padding-bottom: 1.2308em;   /*equals 16px of bottom padding, this to match style doc instructions*/

        @include tablet {
            padding: 0 0.75em 0 0;

        }
            &--alignment {
                color: $BandSite-Black;
                padding-bottom: 0em;        
            }
    }
}

.photo-gallery {
    padding: 1em 1em 0em 1em; 
    background-color: $Alabaster;

        &__title {
            color: $BandSite-Black;
        }

        &__container {
            display: flex; 
            flex-direction: column;

                &--image {
                    width: 100%;
                    padding-bottom: 1em;
                }
        }
}

.footer-page {
    background-color: $BandSite-Black;
    padding: 1em;

        &__title {
            color: $White;
        }

        &__socials {

            &--icons {
                height: 1.5rem;
                padding: 0em 0.75em;

                    &--alignment {
                        padding-left: 0em;  /*Removes left padding from Instagram logo to align footer social media section as Mock document*/
                    }
            }
        }

        &__subheader {
            color: $White;
            font-family: avenir-demi;
            padding: 1.2308em 0em 0em 0em; /*Customized padding to match mobile layout as in the Style guide of 16px*/
        }

        &__paragraph {
            color: $White;
            padding: 1.2308em 0em;  /*Customized padding to match mobile layout as in the Style guide of 16px */
        }

        &__email {
            color: $White;
            padding-bottom: 0.6154em; /*Customized padding to match mobile layout as in the Style guide of 8px. This to add total padding of 16px + 8px = 24px as shown on the Mock document */
        }

        &__logo {
            margin-top: 2.5em; /*customized padding to match Mock document*/
        }
          
        &--copy-right {
            font-size: 0.7rem;  /*customized font size to match mock doc*/
            color: $Alabaster; /*Mock document seems to have Alabaster color for the copyright*/
            padding-top: 1.4286em;  /*Customized padding to match mobile layout as in the Style guide of 16px */
        }
}