@use './partials/global' as *;
@use './partials/fonts' as *;
@use './partials/mixins' as *;
@use './partials/media-query' as *;
@use './partials/variables' as *;

.page-header {  
    background-color: $BandSite-Black;
    width: 100%;

    &__container {
        display: flex;
        flex-direction: column;
                
        @include tablet {
            flex-direction: row;
            padding-top: 1.5em;
            margin: 0 2.25em;
        }

        @include desktop {
            width: 1280px;
            padding: 1.5em 2.25em 0 2.25em; /*padding added in order to keep header layout, and be consistent on the sides when screen width is > 1279px*/
            margin: 0 auto;
        }

            &__logo {
                height: 20px;   /*in this way logo should not exceed 20px height as the Style guide mentioned*/
                width: 120px;   /*in this way logo should not exceed 120px width as the Style guide mentioned*/  
            

                &__link {
                    align-self: center;
                    margin-top: 1.25em;

                    @include tablet { 
                            margin: 0em 4em 1em 0;                    
                    }
                } 
            }

            &__nav {
                display: flex;
                font-size: 1rem; /*customized font to match mock document*/
                margin-top: 0.75em;

                &--box {
                    display: inline-block;
                    text-align: center;
                    width: 50%;
                
                        &--current {
                            display: inline-block;
                            text-align: center;
                            width: 50%;
                            padding-bottom: 0.75em;
                            border-bottom: 0.2rem solid $White;

                            @include tablet {
                                width: 35%; /*Used to setup the width of the white underline of current page*/
                                padding-bottom: 1.5rem;  
                            }
                        }
                }   

                &__link {
                    color: $Mercury;
                    padding-bottom: 0.75em; /*defines padding between link and bottom header container for white underline when link is hover*/

                    @include tablet {
                        margin: 0em 3.75em;
                        padding-bottom: 1.63rem; /*defines padding distance between link and bottom header container for white underline when link is hover*/
                    }

                        &:hover { 
                            border-bottom: 0.2rem solid $White; 
                            color: $White;
                            display: block; /*converted to block to enable bottom border line be full size when hovering*/

                                @include tablet {
                                    display: inline;

                                }
                        }

                        &--current { /*Current active link*/
                            color: $White; 
                            font-family: avenir-bold;
                        }
                }
            }      
    }
}

.hero {
    @include background-image ($hero-bio);
        height: 12rem; /*Customized height to match Mock doc*/

        @include tablet {
            height: 25rem;
        }

        @include desktop {
            height: 40rem;
        }

        &__image--overlay {
            background-color: rgba($BandSite-Black, 0.5);
            height: 100%;
            width: 100%;
            display: flex;
        }   

        &__container {
            display: flex;
            margin-left: 1rem; /*Equals to 16px leftpadding to match style document requirements*/

            @include tablet {
                margin-left: 2.25rem;    /*adds margin of 36px to match Mock document layout*/
            }

            @include desktop {
                width: 1280px;
                padding-left: 2.25rem;  /*padding added in order to keep hero layout, and be consistent on the sides when screen width is > 1279px*/
                margin: 0 auto;
            }

            &__title {
                align-self: center; /*Aligns title in the middle of the background image*/
                color: $White;
                
            }
        }
 }

.about-musicians {
    width: 100%;
    height: 100%;
    background-color: $White;

    &__container {
        padding: 1em 0;
        margin: 0 1em;

        @include tablet {
            padding: 2.25em 0;
            margin: 0 2.25em;
        }

        @include desktop {
            width: 1280px;
            padding: 2.25em;    /*padding added in order to keep section layout, and be consistent on the sides when screen width is > 1279px*/
            margin: 0 auto;
        }

        &__title {
            color: $BandSite-Black;
        }

        &__box {

        @include tablet {
            padding: 0 3.75em;  /*cutomized padding to match Mock document for tablet breakout points*/
        }

        @include desktop {
            padding: 0 6em;
        }

            &__image {
                width: 100%; 
                padding-bottom: 1em;

                @include tablet {
                    padding-bottom: 2.25em;
                }
            }

            &__subheader--one {
                color: $BandSite-Black;
                padding-bottom: 0em;

                @include desktop {
                    width: 70%;
                }
            }

            &__subheader--two {
                @extend h3; /*applies subheader in order to match Mock document and Style guide for mobile layout diplay only*/
                line-height: 2rem;  /*Customized line height to match mock document*/
                color: $BandSite-Black;

                @include tablet {
                    font-size: 1rem;    /*Customized font size to match Mock document*/
                    padding: 0.75em 0 3em 0;   /*customized padding to match Mock document*/
                }
            }

            &__subheader-title {
                color: black; /*Color black used given that Mock document uses black color for this particular subheader*/

                    @include tablet {
                        padding-bottom: 1.5em;
                    }
            }
            /*HOW TO KEEP OR KNOW THE WIDTH OF THE PARAGRAPH, DO I NEED A SPECIFIC VALUE???*/
            &__paragraph {
                @include tablet {
                    display: flex;
                }

                    &--content {
                        color: $BandSite-Black;
                        padding-bottom: 1rem;   /*equals 16px of bottom padding, this to match style doc instructions*/

                        @include tablet {
                            padding: 0 0.75rem 0 0;  /*provides a gutters-padding as required from the Layout Grid of the Style guide 12px (for a total of 12px + 12px = 24px adding both gutter padding of the 2 paragraphs sides*/
                        }

                            &--alignment {
                                color: $BandSite-Black;
                                padding-bottom: 0em; 
                                
                                @include tablet {
                                    padding: 0 0 0 0.75rem;  /*provides a gutters-padding as required from the Layout Grid of the Style guide 12px (for a total of 12px + 12px = 24px adding both gutter padding of the 2 paragraphs sides*/
                                }
                            }
                    }
            }
        }
    }
}

.photo-gallery {
    background-color: $Alabaster;
    width: 100%;
    height: 100%;

        &__container {
            margin: 1em 1em 0 1em; 

            @include tablet {
                margin: 2.25em 2.25em 1em 2.25em;   
                padding: 2.25em 0;  /*padding bottom was set to 0.75em (12px) to add the image bottom padding 1.5em (24px). 24px+12px = 36px to match Mock document*/
                margin: 0 2.25em;
            
            }

            &__title {
                color: $BandSite-Black;
            }

            &__box {
                display: flex; 
                flex-direction: column;

                @include tablet {
                    flex-direction: row;
                    flex-wrap: wrap;
                }

                    &__image {
                        width: 100%;
                        padding-bottom: 1em;

                        @include tablet {
                            width: $footer-layout-grid;  /*applied to keep consistent 3x3 image display layout when screen size increases*/
                            padding-bottom: $gutters-tablet;
                            padding-right: $gutters-tablet;
                        }

                            &--alignment {
                                @extend .photo-gallery__container__box__image;

                                @include tablet {
                                    padding-right: 0; /*removes unwanted padding from the images located om the right of the site, this to match mock document*/
                                }
                            }
                    }
            }
        }
}

.footer-page {
    background-color: $BandSite-Black;
    padding: 1em;

    @include tablet {
        padding: 2.25em;
    }

        &__top-container {
            @include tablet {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
            }
            
            &__title {
                color: $White;

                @include tablet {
                    width: $footer-layout-grid; 
                }
            }

            &__socials {
                @include tablet {
                    width: $footer-layout-grid;
                }
                
                &--icons {
                    height: 1.5rem;
                    padding: 0em 0.75em;

                        &--alignment {
                            padding-left: 0em;  /*Removes left padding from Instagram logo to align footer social media section as Mock document*/
                        }
                }
            }

            &__logo {
                display: none;

                @include tablet {
                    display: flex;
                    width: $footer-layout-grid; 
                    justify-content: flex-end;
                } 
                
                    &--tablet-desktop {
                        @extend .page-header__container__logo;
                    }
            }
        }

        &__container {
            @include tablet {
                display: flex;
                justify-content: space-between;
            }
            
            &__box {
                @include tablet {
                    width: $footer-layout-grid; 
                }

                &__subheader {
                    color: $White;
                    font-family: avenir-demi;   /*font family applied to match Mock document*/
                    padding: 1rem 0 0 0; /*Customized padding to match mobile layout as in the Style guide of 16px*/

                    @include tablet {
                        padding-top: 0em;

                    }
                }

                &__paragraph {
                    color: $White;
                    padding: 1rem 0;  /*Customized padding to match mobile layout as in the Style guide of 16px */
                
                    @include tablet {
                        padding: 1.5rem 0;    /*Customized padding to match tablet layout as in the Style guide of 24px between components*/
                    }
                }

                &__email {
                    color: $White;
                    padding-bottom: 0.5rem; /*Customized padding to match mobile layout as in the Style guide of 8px. This to add total padding of 16px + 8px = 24px as shown on the Mock document */
                
                    @include tablet {
                        padding-bottom: 0em;
                    }
                }
            }
        }
        
        &__logo-mobile { 
            margin-top: 2.5em; /*customized padding to match Mock document*/
            @extend .page-header__container__logo;
            
            @include tablet {
                display: none;  /*hides logo when tablet/desktop breakpoints are met, this to match Mock document*/
                }   
        }
          
        &--copy-right {
            font-size: 0.7rem;  /*customized font size to match mock doc*/
            color: $Alabaster; /*Mock document seems to have Alabaster color for the copyright*/
            padding-top: 1rem;  /*Customized padding to match mobile layout as in the Style guide of 16px */

            @include tablet {
                font-size: 0.875rem;
                padding-top: 3rem;  
            }
        }
}