@font-face {
  font-family: "avenir-regular";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/Alternative files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "avenir-demi";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/Alternative files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "avenir-bold";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/Alternative files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
/*Removes margin, padding, and applies border-box to wbesite*/
* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

body {
  font-family: avenir-regular;
}

/*SHOW THAT FONT WEIGHT IS NOT APPLIYING IN GOOGLE INSPECTOR!!!!*/
/*Page Header*/
h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: avenir-bold;
  padding-top: 0.33332em; /*Customed padding equals to 8px to match mobile layout of 24px total (+ padding applied at section "about-musician, 8px+16px=24px), of top margin between hero section and "about musician" section*/
  padding-bottom: 0.66668em; /*Customed padding to match mobile layout as in the Style guide of 16px */
}

/*Page subheader*/
h2 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: avenir-demi;
  padding-bottom: 1.14284em; /*Customized padding to match mobile layout as in the Style guide of 16px*/
}

/*Copy right font*/
h3 {
  font-size: 0.7rem; /*customized font size to match mock doc*/
  line-height: 1.375rem;
}

/*Page body and footer*/
p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

a {
  text-decoration: none;
}

/*Primary Colors*/
/*Secundary Colors*/
/*Responsive Design Breakpoints*/
/*Responsive Design Padding*/
/*Background Image*/
.page-header { /*SHOULD I MOVE HEADER AND FOOTER TO GLOBAL FOR SPRINT 1, IF NOT WILL THAT DECREASE MY GRADE?*/
  background-color: #323232;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .page-header {
    flex-direction: row;
    padding: 1.5em 2.25em 0em 2.25em;
  }
}
.page-header__logo-link {
  align-self: center;
  margin-top: 1.25em; /*customized margin to match Mock document*/
}
@media (min-width: 768px) {
  .page-header__logo-link {
    margin: 0em 5em 1.5em 0em;
  }
}
.page-header__nav {
  display: flex;
  font-size: 0.875rem;
  padding-top: 0.75em; /*customized padding to match Mock document*/
}
@media (min-width: 768px) {
  .page-header__nav {
    padding-top: 0.8em; /*customized padding top to match Mock document*/
  }
}
.page-header__nav--box {
  display: inline-block;
  text-align: center;
  width: 50%;
}
.page-header__nav--box--current {
  display: inline-block;
  text-align: center;
  width: 50%;
  padding-bottom: 0.75em;
  border-bottom: 0.2rem solid #FFFFFF;
}
@media (min-width: 768px) {
  .page-header__nav--box--current {
    width: 40%; /*Used to setup the width of the white underline of current page*/
    padding-bottom: 2em; /*cutomized bottom padding to match mock document*/
  }
}
.page-header__nav__link {
  color: #E1E1E1;
  padding-bottom: 0.75em; /*defines padding between link and bottom header container for white underline when link is hover*/
  font-size: 0.875rem;
}
@media (min-width: 768px) {
  .page-header__nav__link {
    font-size: 0.9375rem;
    margin: 0em 2.5em;
    padding-bottom: 1.87em; /*defines padding between link and bottom header container for white underline when link is hover*/
  }
}
.page-header__nav__link:hover {
  border-bottom: 0.2rem solid #FFFFFF;
  color: #FFFFFF;
  display: block; /*converted to block to enable bottom border line be full size when hovering*/
}
@media (min-width: 768px) {
  .page-header__nav__link:hover {
    width: 45%;
  }
}
.page-header__nav__link--current { /*Curent active link*/
  font-size: 0.875rem;
  color: #FFFFFF;
  font-family: avenir-bold; /*Applies bold font family*/
}
@media (min-width: 768px) {
  .page-header__nav__link--current {
    font-size: 0.9375rem;
  }
}

.hero {
  background-image: url("../../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
  height: 12rem; /*Customized height to match Mock doc*/
  display: flex;
}
@media (min-width: 768px) {
  .hero {
    height: 20vmax;
  }
}
.hero__image--overlay {
  background-color: rgba(50, 50, 50, 0.5);
  height: 100%;
  width: 100%;
}
.hero__title {
  align-self: center; /*Aligns title in the middle of the background image*/
  color: #FFFFFF;
  padding: 0em 0em 0em 0.66665em; /*Equals to 16px leftpadding to match style document requirements*/
  position: absolute; /*Makes title be over the image overlay*/
}

.about-musicians {
  padding: 1em;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
.about-musicians__title {
  color: #323232;
}
.about-musicians__image {
  width: 100%;
  padding-bottom: 1em;
}
.about-musicians__subheader--one {
  color: #323232;
  padding-bottom: 0em;
}
.about-musicians__subheader--two {
  line-height: 2rem; /*Customized line height to match mock document*/
  color: #323232;
}
.about-musicians__subheader-title {
  color: black; /*Color black used given that Mock document uses black color for this particular subheader*/
}
.about-musicians__text {
  color: #323232;
  padding-bottom: 1.2308em; /*equals 16px of bottom padding, this to match style doc instructions*/
}
.about-musicians__text--alignment {
  color: #323232;
  padding-bottom: 0em;
}

.photo-gallery {
  padding: 1em 1em 0em 1em;
  background-color: #FAFAFA;
}
.photo-gallery__title {
  color: #323232;
}
.photo-gallery__container {
  display: flex;
  flex-direction: column;
}
.photo-gallery__container--image {
  width: 100%;
  padding-bottom: 1em;
}

.footer-page {
  background-color: #323232;
  padding: 1em;
}
.footer-page__title {
  color: #FFFFFF;
}
.footer-page__socials__link { /*IF YES REMOVE*/
  text-decoration: none;
}
.footer-page__socials--icons {
  height: 1.5rem;
  padding: 0em 0.75em;
}
.footer-page__socials--icons--alignment {
  padding-left: 0em; /*Removes left padding from Instagram logo to align footer social media section as Mock document*/
}
.footer-page__subheader {
  color: #FFFFFF;
  padding-top: 1.14283em; /*Customized padding to match mobile layout as in the Style guide of 16px*/
  padding-bottom: 0em;
}
.footer-page__paragraph {
  color: #FFFFFF;
  padding: 1.2308em 0em; /*Customized padding to match mobile layout as in the Style guide of 16px */
}
.footer-page__email {
  color: #FFFFFF;
  padding-bottom: 0.6154em; /*Customized padding to match mobile layout as in the Style guide of 8px. This to add total padding of 16px + 8px = 24px as shown on the Mock document */
}
.footer-page__logo {
  padding-top: 2.5em; /*customized padding to match Mock document*/
}
.footer-page--copy-right {
  color: #FAFAFA; /*Mock document seems to have Alabaster color for the copyright*/
  padding-top: 1.4286em; /*Customized padding to match mobile layout as in the Style guide of 16px */
}/*# sourceMappingURL=bio.css.map */