@use './partials/global' as *;
@use './partials/fonts' as *;
@use './partials/mixins' as *;
@use './partials/media-query' as *;
@use './partials/variables' as *;
@use './partials/animations' as *;

.page-header {  
    @include section-container ($BandSite-Black);

    &__container {
        display: flex;
        flex-direction: column;
                
        @include tablet {
            flex-direction: row;
            align-items: center;
            padding-top: 1.5em;
            margin: 0 $tablet-margin;
        }

        @include desktop {
            @include desktop-layout (1.5em 2.25em 0 2.25em); /*padding added in order to mantain section layout, and be consistent on the sides when screen width is > 1279px*/
            height: 6.5rem; /*increases nav height to match Mock document*/
        }
    
            &__logo {
                height: 20px;   /*in this way logo should not exceed 20px height as the Style guide mentioned*/
                width: 120px;   /*in this way logo should not exceed 120px width as the Style guide mentioned*/  
            
                &__link {
                    align-self: center;
                    margin-top: 1.25em;

                    &:hover {
                        animation: nav-header 1.25s 0.1s ease-out;
                    }

                    @include tablet { 
                            margin: 0em 4em 1em 0;                    
                    }
                } 
            }

            &__nav {
                display: flex;
                font-size: 1rem; /*customized font to match mock document*/
                margin-top: 0.75em;

                @include desktop {
                    margin-top: 1.3em; 
                }

                &__box {
                    display: inline-block;
                    text-align: center;
                    width: 50%;

                    @include tablet {
                        width: auto;
                     
                    }
                
                        &--current {
                            @include current-link-page;

                            &:hover {
                                animation: nav-header 1.25s 0.1s ease-out;
                            }

                            @include tablet {
                                width: auto; /*Used to setup the width of the white underline of current page*/
                                margin: 0 3.75em;  /*defines padding distance between link and bottom header container for white underline*/
                                padding-bottom: 1.5rem;
                            }

                            @include desktop {
                                padding-bottom: 2.30rem;    /*defines padding distance between link and bottom header container for white underline*/
                            }
                        }
                }   

                &__link {
                    color: $Mercury;
                    padding-bottom: 0.75em; /*defines padding between link and bottom header container for white underline when link is hover*/

                    @include tablet {
                        padding-bottom: 1.5rem; /*defines padding distance between link and bottom header container for white underline when link is hover*/
                    }

                    @include desktop {
                        padding-bottom: 2.3rem;    /*defines padding distance between link and bottom header container for white underline when link is hover*/
                    }

                    &:hover { 
                        animation: nav-header 1.25s 0.1s ease-out;
                        border-bottom: 0.2rem solid $White; 
                        color: $White;
                        display: block; /*converted to block to enable bottom border line be full size when hovering*/
                    }

                        &--current { /*Current active link*/
                            color: $White; 
                            font-family: avenir-next-bold;
                        }
                }
            }      
    }
}

.hero {
    @include background-image ($hero-show);
    height: 23rem;  /*Customized height to match Mock doc*/

    @include tablet {
        height: 33.5rem;
    }

    @include desktop {
        height: 40rem;
    }

    &__image--overlay {
        @include hero-image-opacity;
        display: block;
    }

    &__container {
        display: flex;
        flex-direction: column;
        margin: 0 $mobile-margin;

        @include tablet {
            margin-left: $tablet-margin;    /*adds margin of 36px to match Mock document layout*/
        }

        @include desktop {
            @include desktop-layout (0 $tablet-margin);
            
        }
        

        &__subtitle {
            padding: 2.5rem 0 0 0;    /*Customized padding to match Mock document*/
            color: $White;
            font-size: 1rem;
            
            @include tablet {
                font-size: 1.5rem;
                padding-top: 3rem;
            }
        }

        &__title {
            color: $White;
            width: 14rem;   /*Customized width to match layout of music title to match Mock document*/
            padding: $mobile-padding 0;

            @include tablet {
                width: 10em;
                padding: $tablet-padding 0;
            }
        }

        &__song {
            width: 100%; 
            height: 9.375rem; 
            border-radius: 0.25rem;

            @include tablet {
                width: 27rem;
            }
        }
    }
}

.footer-page {
    @extend .page-header;

        &__container {
            @include section-layout ($mobile-padding 0, 0 $mobile-margin);

            @include tablet {
                @include section-layout ($tablet-padding 0, 0 $tablet-margin);
            }

            @include desktop {
                @include desktop-layout ($tablet-padding);   /*padding added in order to mantain section layout, and be consistent on the sides when screen width is > 1279px*/
            }
        
            &__top {
                @include tablet {
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                }
                
                &__title {
                    color: $White;

                    @include tablet {
                        width: $tablet-layout-grid; 
                    }
                }

                &__socials {
                    @include tablet {
                        width: $tablet-layout-grid;
                    }

                    @include desktop {
                        width: 57%;  /*customized width to match desktop footer Mock document*/
                    }
                    
                    &--icons {
                        height: 1.5rem;
                        padding: 0em 0.75em;

                            &--alignment {
                                padding-left: 0em;  /*Removes left padding from Instagram logo to align footer social media section as Mock document*/
                            }
                    }
                }

                &__logo {
                    display: none;  /*hides logo when Mobile breakout points occur*/

                    @include tablet {
                        display: flex;
                        width: $tablet-layout-grid; 
                        justify-content: flex-end;
                    } 
                   
                        &--tablet-desktop {
                            @extend .page-header__container__logo;
                        }
                }
            }

            &__bottom { 
                @include tablet {
                    display: flex;
                    justify-content: space-between;
                }

                @include desktop {
                    justify-content: flex-start;
                }
                
                &__box {                   
                    @include tablet {
                        width: $tablet-layout-grid; 
                    }

                    @include desktop {
                        width: 26.5%;  /*Customized width to match desktop footer layout*/
                    }

                    &__subheader {
                        color: $White;
                        font-family: avenir-next-demi;   /*font family applied to match Mock document*/
                        font-weight: 600;   /*font weight applied to match Mock document*/
                        padding-top: 1rem;

                        @include tablet {
                            padding-top: 0rem;
                            line-height: $tablet-footer-line-height;   /*applied to match Style document*/
                        }

                            &--alignment {  /*class created to adjust padding and match Mock document layout*/
                                @extend .footer-page__container__bottom__box__subheader;
                                padding-top: 1.5rem;    /*customized padding to match Mock mobile document*/
                            
                                @include tablet {
                                    padding-top: 0rem;
                                }
                            }
                    }

                    &__paragraph {
                        color: $White;
                        padding: 1rem 0;  /*Customized padding to match mobile layout as in the Style guide of 16px */
                    
                        @include tablet {
                            line-height: $tablet-footer-line-height;   /*applied to match Style document*/
                            padding: 1.5rem 0;    /*Customized padding to match tablet layout as in the Style guide of 24px between components*/
                        }
                    }

                    &__email {
                        @extend p;
                        color: $White;

                        @include tablet {
                            line-height: 1.25rem;   /*applied to match Style document*/
                        }
                    }
                }
            } 
        }

    &__logo-mobile { 
        margin-top: 3.25em; /*customized padding to match Mock document*/
        @extend .page-header__container__logo;
        
        @include tablet {
            display: none;  /*hides logo when tablet/desktop breakpoints are met, this to match Mock document*/
        }   
    }
        
    &--copy-right {
        font-size: 0.7rem;  /*customized font size to match mock doc*/
        color: $White; 
        padding-top: 1rem;  /*Customized padding to match mobile layout as in the Style guide of 16px */

        @include tablet {
            font-size: 0.875rem;
            line-height: 1.25rem;   /*applied to match Style document*/
            padding-top: 2.25rem;  /*customized padding to match Mock document*/
        }
    }
}