@use './partials/global' as *;
@use './partials/fonts' as *;
@use './partials/mixins' as *;
@use './partials/media-query' as *;
@use './partials/variables' as *;
@use './partials/animations' as *;
@use './partials/header' as *;
@use './partials/footer' as *;

.hero {
    @include background-image ($hero-show);
    height: 20rem;  /*Customized height to match Mock doc*/

    @include tablet {
        height: 33.5rem;
    }

    @include desktop {
        height: 40rem;
    }

    &__image--overlay {
        @include hero-image-opacity;
        display: block;
    }

    &__container {
        display: flex;
        flex-direction: column;
        margin: 0 $mobile-margin;
        height: 100%;

        @include tablet {
            margin-left: $tablet-margin;    /*adds margin of 36px to match Mock document layout*/
            justify-content: center;
        }

        @include desktop {
            @include desktop-layout (0 $tablet-margin);
        }
        

        &__subtitle {
            padding: 2.5rem 0 0 0;    /*Customized padding to match Mock document*/
            color: $White;
            font-size: 1rem;
            
            @include tablet {
                font-size: 1.5rem;
                padding-top: 0;
            }
        }

        &__box {
            @include desktop {
            display: flex;
            justify-content: space-between;
            }
            
            &__title {
                color: $White;
                width: 14rem;   /*Customized width to match layout of music title to match Mock document*/
                padding: $mobile-padding 0 0 0;
    
                @include tablet {
                    width: 10em;
                }
                
                @include desktop {
                    width: 8.5em;
                    padding-bottom: 0;
                }
            }
    
            &__song {
                @include song;
    
                @include tablet {
                    width: 27rem;
                }

                @include desktop {
                    padding-top: 0;
                    align-self: flex-end;
                }
            }
        }
    }
}

.shows {
    @include section-container ($White);
    padding-bottom: $mobile-margin;

    @include tablet {
        padding-bottom: $tablet-padding;
    }

    @include desktop {
        display: flex;
        justify-content: space-between;
        @include desktop-layout(0 1.25rem 0 $tablet-margin);
    }

    &__container { 

        @include tablet {
            @include section-layout ($tablet-padding 0 0 0, 0 $tablet-margin);
        }

        @include desktop {
            @include section-layout ($tablet-padding 0 0 0, 0);
        }

        &__subcontainer {
            @include section-layout (0 $mobile-padding , 0);

            @include tablet {
                padding: 0;
            }

            &--top {
                height: 100%;
            }

            &__title {
                color: $BandSite-DarkBlack;
                padding-top: 3rem;
                padding-bottom: 0;

                @include tablet {
                    padding: 0.75rem 0 $tablet-padding 0;
                }

                @include desktop {
                    color: $BandSite-Black; //Mock document shows title color $BandSite-Black in desktop view
                }
            }
        }

            &__wrapper {
                &__label {
                    font-size: 0.625rem;
                    line-height: 1.25rem;
                    font-weight: 700;
                    color: $Silver;

                    @include tablet {
                        display: none;
                    }
                }

                &__button {
                    @include pagesButton;

                    @include tablet {
                        width: 9.375rem;
                        margin-top: 0;
                    }
                }
            }
        }
    
    &__container-details {

        @include tablet {
            margin: 0 1rem;
        }

        @include desktop {
            margin: 4rem 0 $tablet-margin 0;
            width: 80%;
        }

        &__label-box {
            @include tablet {
                display: flex;
                padding: 0 1.25rem;
                width: 65.5%;
                justify-content: space-between;
            }

            &--labels {
                display: none;

                @include tablet {
                    display: inline-block;
                    color: $Silver;
                    font-weight: 700;
                    line-height: 1.125rem;
                }
            }
        }

        &__subcontainer {
            @include section-layout ($mobile-padding , 0);
            border-bottom: 0.0625rem solid $Mercury;

            @include tablet {
                padding: 0;
                border-bottom: 0;
            }

            &:hover {
                background-color: $Alabaster;

            }

            &--active {
                background-color: $Mercury;

                &:hover {
                    background-color: $Mercury;
                }
            }

            &__box {

                &__wrapper {
                    padding-top: 0.5em;
                    display: flex;
                    flex-direction: column;
                    gap: 0.25rem;
    
                    @include tablet {
                        @include shows-wrapper-tablet;
                    }

                    &__label {
                        font-size: 0.625rem;
                        line-height: 1.25rem;
                        font-weight: 700;
                        color: $Silver;
    
                        @include tablet {
                            display: none;
                        }
                    }

                    &__value {
                        padding-bottom: 0.25rem; /*0.75rem = 12px, gap=0.25rem = 4px; 12px+4px=16px, this to match Mock document*/
                        color: $BandSite-DarkBlack;
    
                        @include tablet {
                            font-size: 0.875rem;
                            width: 25%;
                        }

                        &--date {
                            @extend .shows__container-details__subcontainer__box__wrapper__value;
                            color: $BandSite-Black;
                        }
                    }

                    &__button {
                        @include pagesButton;
    
                        @include tablet {
                            width: 9.375rem;
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}